@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";


html, body{
    margin: 0;
    padding: 0;
    caret-color: transparent;
    cursor: none;
    font-family: Bai Jamjuree;
}

@supports(scrollbar-gutter: stable) {
    html{
        scrollbar-gutter: stable;
    }
}

*, *::before, *::after{
    box-sizing: border-box;
}

input, textarea{
    caret-color: auto;
}